Product Name: WoniuCalc
Requirements:
01、按照UI设计需求，利用Table+CSS或DIV+CSS实现计算器的界面。
02、当输入0~9的数字和5个标准运算符（%，÷，*，-，+）及小数点时，如实反映在结果框中，以便于用户核对输入。
03、“AC”按钮表示清除所有的结果框内容，“<-”回退按钮则只删除最后一个字符。
04、“=”按钮对结果框中的用户输入的运算表达式进行计算，并展示其运算结果。
05、“+/-”按钮表示对某个数字进行正负数的切换。
06、如果用户输入的表达式出现错误，无法计算其结果，则在结果框提示错误信息。
07、不能重复地输入运算符，比如：5+-++*6，这样的表达式是不允许存在的。
08、小数点不能连续输入，一串数字中只能输入一个小数点。
09、到计算完成后，再输入新的数字，结果框中需要先清除之前的结果。
10、如果用户输入的表达式的最后1位或第1位是运算符，则请进行删除处理后再运算。
11、连续点击运算符时，保留最后一次点击的运算符。
12、用户输入标准的数学符号÷和*，也能正常运算结果。
13、用户可以使用键盘直接输入数字和运算符，按回车键运算结果。